.box {
  height: 400px;
  width: 100%;
  background: $color-white;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* Rectangle 9 */

// position: absolute;
// width: 735px;
// height: 400px;
// left: 376px;
// top: 191px;

// background: #ffffff;
// box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
